{% extends 'layout.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
<div class="text-center mt-3">
<img src="{{ asset('photos/typo2.png')}}" alt="logo"></div>
<h1 class="text-center my-3">Profil</h1>

<div class="cards border border-primary rounded m-2 py-2 mx-auto text-center" style="width: 30rem;">
<img src="{{ asset('photos/user.png') }}"  alt="user">
    <p><strong> Nom : </strong> {{app.user.Nom}}</p>
    <p><strong>Prenom : </strong>{{app.user.Prenom}}</p>
    <p><strong>Pseudo : </strong>{{app.user.Pseudo}}</p>
    <p><strong>Email : </strong>{{app.user.email}}</p>
    <p><strong>Adresse : </strong>{{app.user.adresse}}</p>
</div>
</div>

{% endblock %}