{% extends 'layout.html.twig' %}

{% block title %}Back-Office{% endblock %}

{% block content %}
<div class="text-center mt-3">
      <img src="{{ asset('photos/typo2.png')}}" alt="logo"></div>
<h1 class="text-center my-3">Gestion des Services</h1>
<div class="container">
<table class="table table-hover">
  <thead class="text-secondary">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Tarifs</th>
      <th scope="col">Image</th>
      <th scope="col">Sièges</th>
      <th scope="col">Options de modification</th>
    </tr>
  </thead>
  <tbody>

   {% for taxi in taxis %}
    <tr class="table-info">
      <td><strong>{{taxi.nom}}</strong> </td>
      <td>{{taxi.prix}}€/km</td>
      <td> <img src="{{ asset('photos/taxis/' ~ taxi.photo) }}" width="70" alt="Taxi"></td>
      <td>{{taxi.sieges}} </td>
      <td>
        <a class="btn btn-success" href="{{path('app_taxi_update', {id: taxi.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a class="btn btn-danger" href="{{path('app_taxi_delete', {id: taxi.id}) }}" onClick="return confirm('êtes vous sûr de vouloir supprimer?')">
        <i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
   {% endfor %}
</tbody>
</table>
{% endblock %}
